* text=auto !eol
action/acceder_document.php -text
action/changer_mode_document.php -text
action/copier_local.php -text
action/documenter.php -text
action/joindre.php -text
action/legender.php -text
action/supprimer_document.php -text
action/tourner.php -text
base/medias.php -text
base/typedoc.php -text
exec/documenter.php -text
exec/documents_colonne.php -text
exec/documents_liste.php -text
exec/legender.php -text
exec/tourner.php -text
formulaires/configurer_documents.html -text
formulaires/configurer_documents.php -text
inc/ajouter_documents.php -text
inc/documenter.php -text
inc/documents.php -text
inc/getdocument.php -text
inc/joindre.php -text
inc/legender.php -text
inc/tourner.php -text
inc/vignette.php -text
/medias_autoriser.php -text
/medias_fonctions.php -text
/medias_pipelines.php -text
/plugin.xml -text
