* text=auto !eol
action/acceder_document.php -text
action/ajouter_documents.php -text
action/changer_mode_document.php -text
action/copier_local.php -text
action/dissocier_document.php -text
action/editer_document.php -text
action/supprimer_document.php -text
action/supprimer_tous_orphelins.php -text
action/tourner.php -text
action/verifier_documents_brises.php -text
base/medias.php -text
base/typedoc.php -text
formulaires/changer_fichier_document.html -text
formulaires/changer_fichier_document.php -text
formulaires/configurer_documents.html -text
formulaires/configurer_documents.php -text
formulaires/editer_document.html -text
formulaires/editer_document.php -text
formulaires/illustrer_document.html -text
formulaires/illustrer_document.php -text
formulaires/inc-lister_archive_jointe.html -text
formulaires/inc-upload_document.html -text
formulaires/joindre_document.html -text
formulaires/joindre_document.php -text
images/audio-16.png -text
images/audio-22.png -text
images/audio-32.png -text
images/croissant-16.png -text
images/decroissant-16.png -text
images/distant-16.png -text
images/distant-22.png -text
images/document-16.png -text
images/document-24.png -text
images/document-32.png -text
images/document-distant-24.png -text
images/document-manquant-24.png -text
images/document-vu-24.png -text
images/image-24.png -text
images/media-audio-32.png -text
images/media-image-32.png -text
images/media-video-32.png -text
images/photo-16.png -text
images/photo-22.png -text
images/photo-32.png -text
images/portfolio-128.png -text
images/portfolio-24.png -text
images/portfolio-64.png -text
images/unreadable-22.png -text
images/video-16.png -text
images/video-22.png -text
images/video-32.png -text
images/vu-16-10.png -text
images/vu-16.png -text
inc/choisir_mode_document.php -text
inc/documenter_objet.php -text
inc/documents.php -text
inc/getdocument.php -text
inc/joindre_document.php -text
inc/marquer_doublons_doc.php -text
inc/renseigner_document.php -text
inc/verifier_document_mode_vignette.php -text
inc/vignette.php -text
javascript/jquery.multifile.js -text
javascript/medias_edit.js -text
lang/medias_ar.php -text
lang/medias_de.php -text
lang/medias_en.php -text
lang/medias_es.php -text
lang/medias_fr.php -text
/medias_autoriser.php -text
/medias_fonctions.php -text
/medias_pipelines.php -text
metadata/flv.php -text
metadata/image.php -text
metadata/svg.php -text
metadata/swf.php -text
modeles/doc.html -text
modeles/doc_legende.html -text
modeles/document_case.html -text
modeles/document_case_fonctions.php -text
modeles/document_desc.html -text
/plugin.xml -text
prive/objets/contenu/portfolio_document.html -text
prive/objets/editer/colonne_document.html -text
prive/objets/editer/document_popup.html -text
prive/objets/infos/document.html -text
prive/squelettes/contenu/document_edit.html -text
prive/squelettes/contenu/mediatheque.html -text
prive/squelettes/contenu/popin-choisir_document.html -text
prive/squelettes/inclure/ajouter-documents.html -text
prive/squelettes/inclure/bouton-supprimer-orphelins.html -text
prive/squelettes/inclure/colonne-documents.html -text
prive/squelettes/inclure/document_infos.html -text
prive/squelettes/inclure/mediatheque-choisir.html -text
prive/squelettes/inclure/mediatheque-galerie.html -text
prive/squelettes/inclure/mediatheque-navigation.html -text
prive/squelettes/inclure/portfolio-documents.html -text
prive/squelettes/navigation/document_edit.html -text
prive/squelettes/top/mediatheque.html -text
prive/style_prive_plugin_medias.html -text
prive/themes/spip/images/document-16.png -text
prive/themes/spip/images/document-24.png -text
prive/themes/spip/images/document-32.png -text
prive/themes/spip/images/portfolio-16.png -text
prive/themes/spip/images/tourner-180-10.png -text
prive/themes/spip/images/tourner-droite-10.png -text
prive/themes/spip/images/tourner-gauche-10.png -text
squelettes/contenu/document.html -text
squelettes/document.html -text
squelettes/head/document.html -text
urls/generer_url_ecrire_document.php -text
